@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&family=Noto+Sans:wght@400;700&display=swap");

:root {
    --theme-color: #3949AB;
    --theme-color-transparent: rgba(57, 73, 171, 0.25);
    --theme-color-transparent-light: rgba(57, 73, 171, 0.09);
    --theme-color-light: #666AD1;
    --theme-color-dark: #001970;
}

html {
    font-family: "Noto Sans", sans-serif;
    font-size: 1.1rem;
}

.monospace {
    font-family: "Noto Sans Mono", monospace;
}

main {
    max-width: 70%;
    margin: 3rem;
    padding: 1rem;
    background-color: #F5F5F5;
    border-radius: 1rem;
}

label {
    margin-bottom: 0.5rem;
}

main .container-fluid {
    margin-top: 1rem;
}

main .row {
    margin-top: 2rem;
}

.top-logo {
    height: 4rem;
}

.text-center {
    text-align: center !important;
}

.top-caption {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--theme-color);
}

.section-caption {
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
    margin: 2rem !important;
    color: var(--theme-color);
}

.margin-left-small {
    margin-left: 0.5rem;
}

.w-20rem {
    width: 20rem !important;
}

.form-select:focus {
    border-color: var(--theme-color-light) !important;
    box-shadow: 0 0 0 0.25rem var(--theme-color-transparent) !important;
}

.form-control:focus {
    border-color: var(--theme-color-light) !important;
    box-shadow: 0 0 0 0.25rem var(--theme-color-transparent) !important;
}

.accordion-button:focus {
    border-color: var(--theme-color-light) !important;
    box-shadow: 0 0 0 0.25rem var(--theme-color-transparent) !important;
}

.accordion-button:not(.collapsed) {
    color: var(--theme-color) !important;
    background-color: var(--theme-color-transparent-light) !important;
}

.btn-primary:active:focus {
    border-color: var(--theme-color-light) !important;
    box-shadow: 0 0 0 0.25rem var(--theme-color-transparent) !important;
}

.btn-primary:active {
    background-color: var(--theme-color-light) !important;
}

.btn-primary:focus {
    border-color: var(--theme-color-light) !important;
    background-color: var(--theme-color-light) !important;
    box-shadow: 0 0 0 0.25rem var(--theme-color-transparent) !important;
}

.btn-primary:hover {
    border-color: var(--theme-color-light) !important;
    background-color: var(--theme-color-light) !important;
    box-shadow: 0 0 0 0.25rem var(--theme-color-transparent) !important;
}

.btn-primary {
    border-color: var(--theme-color-light) !important;
    background-color: var(--theme-color) !important;
}

.text-col {
    font-size: 1.1rem;
}

.text-col p {
    margin-top: 1rem !important;
    margin-bottom: 0.2rem !important;
}

.material-symbols-rounded {
    vertical-align: text-top !important;
    font-size: 1.5rem !important;
}

.modal-dialog {
    max-width: 60% !important;
}

code {
    font-size: 1.1rem !important;
    color: var(--theme-color) !important;
    font-family: "Noto Sans Mono", monospace !important;
}
